/* Aligns the input fields inside the form*/
* {
	box-sizing: border-box;
}

/* properties for the h2 text*/
h2 {
	font-size: 35px;
	color: rgb(230, 230, 230);
}

/*properties for the form*/
form {
	font: italic bold 20px/30px Georgia, Times;
	color: rgb(212, 207, 207);
}

/*properties for the input text and area*/
input[type="text"],
select,
textarea {
	width: 100%;
	padding: 15px;
	border: 5px solid #b7c2c5;
	border-radius: 4px;
	resize: vertical;
	background-color: #720d5d;
	color: rgb(184, 184, 175);
	font-size: 15px;
}

/*properties for the submit button */
input[type="submit"] {
	background-color: #326ba8;
	color: white;
	padding: 12px 20px;
	border-radius: 10px;
	cursor: pointer;
	float: right;
	font-size: 15px;
}

/*properties when you hover the submit button with the cursor*/
input[type="submit"]:hover {
	background-color: #75ca80;
}

/*properties for the form*/
.page {
	border-radius: 5px;
	background-color: #3f0a2f;
	padding: 20px;
}

/*properties for the footer*/
footer {
	color: rgb(82, 82, 82);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
}
